/* ================ NORMALIZE ================ */
* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-family: var(--font-family1);
    font-weight: 400;
}

html {
    font-size: var(--html-font-size);
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5 {
    text-wrap: balance;
    font-weight: 500;
}

p {
    text-wrap: pretty;
}

html {
    display: flex;
    justify-content: center;
    background-color: var(--color-bg3);
}

/* ================ BODY ================ */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: var(--body-max-width);
    background-color: var(--color-bg1);
}



/* ================ HEADER ================ */
.header {
    padding: 12px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    min-height: var(--header-heigh);
    background-color: var(--color-bg1);
    color: var(--color-bg1-text-1);
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: center;
    gap: min(15px, 2vw);
    /* padding: 0px 0 0px 20px; */
    /* background-color: yellow; */
}

.title-container .logo-container {
    display: flex;
    align-items: center;
    min-width: 65px;
    max-width: min(20vw, 70px);
    height: auto;
}

.title-container .logo-container .logo {
    margin-top: 5px;
    width: 100%;
}

.title-container .name-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    gap: 3px;
    align-items: start;
    /* background-color: brown; */
}

.title-container .line1,
.title-container .line2 {
    font-size: min(1.1rem, 5vw);
    font-weight: 500;
}






/* ================ NAV ================ */
.nav-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}






/* Estilo para el botón de iniciar sesión */
.login-btn {
    background-color: var(--color-bg5); /* Color celeste no tan claro */
    color: var(--color-bg1-text-1); /* Letras blancas */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Espacio entre el ícono y el texto */
}

.login-btn i {
    font-size: 1rem; /* Tamaño del ícono */
}

.login-btn:hover {
    background-color: #007B9E; /* Color más oscuro al pasar el ratón */
}

.login-btn:active {
    background-color: #006A85; /* Color más oscuro al hacer clic */
}



.nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    position: relative;
}

/* MENU */
#toggle {
    display: none;
}

#toggle:checked~ul {
    display: block;
}

.burger {
    /* MENU BUTTON */
    height: 30px;
    font-size: 1.0rem;
    border-radius: 4px;
    width: 40px;
    margin: 0 0 0 10px;
    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: center;

    /* user-select: none; */
    /* background-color: var(--color-bg1-text-1); */
    /* color: var(--color-bg1); */
    border: var(--color-bg1-text-1) solid 1px;
    color: var(--color-bg1-text-1);
    cursor: pointer;
}

.burger {
    padding: 0 0 2px 0;
}

.burger:hover {
    /* MENU BUTTON HOVER */
    /* background: #7525a7; */
}

#toggle:checked~label {
    /* MENU BUTTON EXPANDED */
    /* background: #7525a7; */
}

.nav ul {
    display: none;
    flex-direction: row;
    justify-content: flex-end; /* Alinea el contenido del menú a la derecha */
    list-style-type: none;
    border: none;
    position: absolute; /* Posiciona el menú absolutamente con respecto al botón */
    top: calc(100% + 10px); /* Coloca el menú debajo del botón de menú */
    right: 0;
    background-color: var(--color-bg1); /* Establece el color de fondo del menú */
    z-index: 1; /* Asegura que el menú aparezca por encima de otros elementos */
    border-bottom: 2px solid var(--color-bg1);
    gap: min(20px, 1vw);
}

.nav ul li {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0 13px;
    width: var(--btn-width);
    height: var(--btn-height);
    align-content: center;
    text-align: center;
    list-style: none;
    /* background-color: pink; */

    /* background-color: var(--color-bg1-text-1); */
    
}



.nav ul li a {
    color: var(--color-bg1-text-1);
    /* font-weight: 700; */
    text-decoration: none;
    
}

.nav ul li .arrow-icon-container {
    position: absolute;
    right: 5px;
}

.menu-option {
    display: flex;
    align-items: center; /* Alinea el texto y la flecha verticalmente */
    text-decoration: none; /* Sin subrayado */
    
}







.nav ul li:hover {
    cursor: pointer;
}


/* ================ HERO ================ */
.hero {
    /* min-height: var(--hero-min-heigh); */
    height: var(--hero-heigh);
    background-color: var(--color-bg2);
}

.swiper {
    width: 100%;
    height: var(--hero-heigh);
    /* background-color: brown; */
}

.img-1 {
    background-image: url("../img/slide1.jpg");
}

.img-2 {
    background-image: url("../img/slide2.jpeg");
}

.img-3 {
    background-image: url("../img/slide3.jpeg");
}

.swiper-slide {
    background-size: cover;
    background-position: center center;
    /* background-color: pink; */
}

.hero-slide-img {

}

/* ================ MAIN ================ */
.main {
    width: 100%;
    padding: min(20px, 2vw);
    flex: 1;
    background-color: var(--color-bg1);
    color: var(--color-bg1-text-1);
}



/* ================ FOOTER ================ */
.footer {
    width: 100%;
    min-height: var(--footer-min-heigh);
    padding: min(20px, 2vw);
    background-color: var(--color-bg3);
    color: var(--color-bg3-text-1);
}

.footer h3{
    margin-bottom: 10px;
}


.social {
    /* height: fit-content; */
    display: flex;
    justify-content: end;
    gap: 10px;
}

.social a {
    display: flex;
    align-items: center;

}

.social .icon {
    width: 30px;
    fill: var(--color-bg3-text-1);
}

.social .icon:hover {
    cursor: pointer;
}











/* ----------------------------------------- */
/* --------------- TABLET + ---------------- */
/* ----------------------------------------- */
@Media (width >=768px) {

    /* ------------ HEADER (TABLET +) ------------ */

    /* ================ HEADER ================ */
    .header {
        margin-top: 0px;
    }

    /* MENU */
    .burger,
    #toggle {
        display: none;
    }



    /* ================ NAV ================ */
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        border: none;
        /* right: 0; */
        

    }

    .nav ul li a{
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        
    }

    

    .nav ul li a:is(.selected){
        box-sizing: border-box;
        border-bottom: 2px solid var(--color-bg4);
        

    }

    .nav ul li a:hover{
        box-sizing: border-box;
        border-bottom: 2px solid var(--color-bg1-text-1);   
    }
    .nav ul li a {
        display: inline-block;
        text-align: center;
    }

    .nav ul li:hover {
        /* background-color: yellow; */
        /* border-bottom: 3px solid var(--color-bg2); */

    }

    .nav ul li:hover a {
        /* color: #ff3b3c; */
    }

    .burger-container {
        /* height: fit-content; */
    }
}