@font-face {
    font-family: 'Font1';
    src: url("../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format('opentype');
}

/* ================ CSS VARIABLES ================ */
:root {
    /* ================ COLORS ================ */
    --color-bg1: rgb(240,240,240);
    --color-bg2: rgb(11, 83, 148);
    --color-bg3: rgb(55, 55, 55);
    


    --color-bg1-text-1: var(--color-bg2);
    --color-bg2-text-1: rgb(230, 230, 230);
    --color-bg2-text-2: rgb(255, 255, 255);
    --color-bg3-text-1: var(--color-bg1);
    --color-bg3-text-2: rgb(0, 0, 0);
    --color-bg3-text-3: var(--color-bg2);

    /* ================ ELEMENT DIMENTIONS ================ */
    /* --body-max-width: 1800px; */
    --header-heigh: 80px;
    --hero-heigh: min(61.8vw, 550px);
    --footer-min-heigh: 150px;
    --main-min-heigh: calc(100vw - var(--header-heigh) - var(--hero-heigh) - var(--footer-min-heigh));
    
    --btn-width: 126px;
    --btn-height: 34px;


    /* ================ FONTS ================ */
    

    --font-family1: Font1;
    
    --html-font-size: 16px

}